* {
    font-family: sans-serif;
}
body {
    background-color: black;
    color: white
}
.upper_menu {
    display: grid;
    justify-content: right;
}

.upper {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
}
.gmail {
    display: grid;
    justify-items: center;
}
.img {
    display: grid;
    justify-items: center;
}
.menu {
    display: grid;
    justify-items: center;
}
.profile {
    display: grid;
    justify-items: center;
}
.header {
    display: flex;
    justify-content: center;
}
.header img {
    position: center;
    background: transparent;
    margin-top: 150px;
}

.container {
    width: 100%;
    min-height: 5vh;
    padding: 5px;
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar {
    width: 100%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 10px;
}

.search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 18px 20px;
    font-size: 20px;
    color: gray;
}

::placeholder {
    color: grey;
}

.fa-solid {
    size: 100px;
    color: black;
}

img {
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    margin: 0px 30px;
}
.quick{
    color: black;
    height: 100px;
    width: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 15px 150px;
}
.qlink{
    height: 80px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    text-align: center;
    font-size: 15px;
    width: 100%;
    color: white;
}
.box1{
    background-color: deeppink;
    height: 60px;
}
.box2 {
    background-color: wheat;
    height: 60px;
}
.box3 {
    background-color: beige;
    height: 60px;
}
.box4 {
    background-color: darkkhaki;
    height: 60px;
}
.box5 {
    background-color: seagreen;
    height: 60px;
}