body {
    font-family: "Trirong", serif;
    padding: 0;
    margin: 0;
}
.body_outter {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 150vh;
    width: auto;
}
.container1 {
    display: grid;
}
.navigator {
    display: grid;
    align-items: center;
    justify-content: end;
    float:left;
    list-style: none;
}
.menu {
    display:flex;
    margin: 0px 30px;
    gap: 20px;
    font-size: 1em;
}
.container2 {
    display: grid;
    align-items: center;
    justify-items: center;
}
section {
    display: inline-block;
}
.container_float {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.helen {
    display: grid;
    margin-bottom: 0;
    margin-top: 50px;
    width: 40%;
    border-radius: 50%;
    border-style:inset;
}
h3 {
    padding: 0;
    margin: 0;
}