body {
    font-family: "Trirong", serif;
    padding: 0;
    margin: 0;
}
.body_outter {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 100%;
    width: auto;
}
.container1 {
    display: grid;
}
.navigator {
    display: grid;
    align-items: center;
    justify-content: end;
    float:left;
    list-style: none;
}
.menu {
    display:flex;
    margin: 0px 30px;
    gap: 20px;
    font-size: 1em;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}
.box_1 {
    display: grid;
    justify-items: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width:100%;
    border-right: 1px gray dotted;
}
.experience {
    display: inline-block;
    justify-self: center;
    justify-items:baseline;
    height: 100%;
}
.helen {
    margin-bottom: 0;
    margin-top: 50px;
    width: 80%;
    border-radius: 50%;
}
.box_2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width:100%;
    list-style: none;
}
.Ingang {
    display: inline-block;
    padding: 5px 40px;
    height: 100%;
    border-bottom: 1px gray dotted;
}
.Chunyang {
    display: inline-block;
    padding: 5px 40px;
    height: 100%;
    border-bottom: 1px gray dotted;
}
.InterAsia {
    display: inline-block;
    padding: 5px 40px;
    height: 100%;
    border-bottom: 1px gray dotted;
}
